HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

*/main/frontend/dist
*/main/frontend/out
*/main/frontend/out-tsc
*/main/frontend/node_modules
*/main/frontend/chrome-profiler-events*.json
*/main/frontend/.angular/cache
*/main/frontend/.sass-cache
*/main/frontend/connect.lock
*/main/frontend/coverage
*/main/frontend/libpeerconnection.log
*/main/frontend/npm-debug.log
*/main/frontend/yarn-error.log
*/main/frontend/testem.log
*/main/frontend/typings
.DS_Store
Thumbs.db