.container{
  display: flex;
}

#main{
  flex-direction: column;
}
#middle{
  flex-direction: row;
}


#leftSide > *{
  column-gap: 20px;
  width: 100%;
}

#headline{
  align-self: center;
}

#orderSummary{
  width: 500px;
}
#completeOrder{
  width: 100%;
}
#rightSide{
  width: 40%;
}
#paymentMethod{
  width: 100%;
}

#leftSide{
  width: 40%;
  flex-direction: column;
}

.paymentMethod{
  flex-direction: row;
  width: 200px;
}

.button{
  width: 30%;
}
