.container{
  display: flex;
}

#main{
  justify-content: center;
  flex-direction: column;
}
#middle{
  flex-direction: row;
  justify-content: center;
}


#leftSide > *{
  column-gap: 20px;
  width: 100%;
}

#headline{
  align-self: center;
  color: white;
  font-size: 400%;
  padding: 2%;
}

#orderSummary{
  width: 100%;
}
#completeOrder{
  width: 100%;
}
#rightSide{
  width: 30%;
}
#paymentMethod{
  width: 100%;
}

#leftSide{
  width: 60%;
  flex-direction: column;
}

.paymentMethod{
  flex-direction: row;
}

.button{
  width: 10%;
}

.objekt{
  background: #c6c6c6;
  width: 50%;
  border-radius: 5px;
}

#endSumme{
  background: #87004a;
  border-radius: 5px;
  width: 20%;
  text-align: center;
  font-size: 200%;
  padding: 3%;
}

#endSummeBox{
  flex-direction: row-reverse;
}

#rightSide h1{
  text-align: center;
}

#row1, #row2, #row3, #row4{
  width: 100%;
  flex-direction: row;
}


