<h1 id="itemTitle">Generic Computer</h1>

<div id="listing">
  <div>
    <mat-card id="productImageBig">
      <img src="../assets/listingPlaceholderImage.png" alt="">
    </mat-card>

    <div id="listingImagePreviews">
      <mat-card></mat-card>
      <mat-card></mat-card>
      <mat-card></mat-card>
      <mat-card></mat-card>
    </div>
  </div>

  <div>
    <mat-card id="description">
      <mat-card-content>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et<br>
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      </mat-card-content>
    </mat-card>

    <div id="itemInfo">
      <div>
        <mat-icon>account_circle</mat-icon>
        <span>Petra Mustermann</span>
      </div>

      <div>
        <mat-icon>apartment</mat-icon>
        <span>12345 Berlin</span>
      </div>

      <div id="itemPricing">
        <mat-card id="priceLabel">
          <mat-card-content>
            400,85€
          </mat-card-content>
        </mat-card>
        <button id="buyButton" mat-flat-button>
          <mat-icon>chat</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div id="spaceWaster"></div>
